	<div class="jumbotron">
		<div class="col-md-3">
			<img src="{{user.imagepath}}" class="thumbnail">
		</div>
		<div class="col-md-4">
			<label>Name</label>
			{{user.fullname}}
		</div>
		<div class="col-md-4">
			<label>Total Login Count:</label>
			{{user.loginCount}}
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary" ui-sref="logout">Logout</button>
		</div>
	</div>
