.loginbox {
	background: #f1f1f1;
	padding: 20px;
	position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
  width: 400px;
  height: 240px;
  border-radius: 5px;
}

.loginbox__loginbutton {
  background: url('/images/loginfacebook.png') no-repeat;
  border: none;
  background-size: contain;
  height: 40px;
  width: 200px;
  cursor: pointer;
}